.hero-image-container {
  height: 100px;
}

.page-inner {
  padding-top: 60px !important;
}

.book .book-body .page-wrapper .page-inner section.normal h1,
.book .book-body .page-wrapper .page-inner section.normal h2,
.book .book-body .page-wrapper .page-inner section.normal h3,
.book .book-body .page-wrapper .page-inner section.normal h4,
.book .book-body .page-wrapper .page-inner section.normal h5,
.book .book-body .page-wrapper .page-inner section.normal h6 {
    margin-top: 1em;
    margin-bottom: 1em;
}

.section-metadata {
  font-style: italic;
  margin-top: -3rem;
  margin-bottom: 3rem;
}

.book .book-body .page-wrapper .page-inner section.normal div.section-metadata p {
  margin-bottom: 0em;
}
